<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Hylastix Secure Page</title>
</head>
<body>
  <h1>Welcome to Hylastix</h1>
  <p>This page is protected by Keycloak authentication.</p>
  <p>Keycloak login URL: <a href="http://{{ vm_ip }}:8080/auth/">http://{{ vm_ip }}:8080/auth/</a></p>
</body>
</html>
